html {
  width: 100%;
  height: 100%;
  background-color: blueviolet
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

#inner-container {
  position: fixed;
  width: 100%;
  bottom: 50%;
  align-content: center;
}

.scale-container {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
