html {
  width: 100%;
  height: 100%;
  background-color: blueviolet
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container {
  display: inline;
  justify-content: center;
  align-content: ;
}
